:root {
  --accent-color: #157cfc;
  --border-radius: 0.25rem;
  --min-content: 150px;
  --spacer: 1rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: black;
  color: gainsboro;
}

a {
  color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  color: white;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3891ff;
}

header {
  align-items: baseline;
  display: flex;
  gap: var(--spacer);
}

h1 {
  margin: 0;
}

ul.photos {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-content), 1fr));
  list-style: none;
  padding: 0;
}

li.photo {
  aspect-ratio: 1/1;
}

li.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

figure {
  display: grid;
  place-items: center;
  gap: var(--spacer);
}

figure img {
  max-height: 80vh;
  max-width: 100%;
}

.upload {
  display: grid;
  place-items: center;
}
